# .github/workflows/ci_fastapi.yml
name: CI para FastAPI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10' # Puedes ajustar la versión de Python

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Ejecutar un "test" simple
      run: |
        echo "Simulación de pruebas: La API está lista para funcionar."
        # Aquí podrías añadir comandos reales para pruebas, como:
        # pip install pytest
        # pytest
